/* Universal Styles */
:root {
    --top-offset: 6rem;
}
body {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 37, 144, 1) 35%,
    rgba(255, 68, 0, 1) 100%
  );
  text-align: center;
}

/* Nav Bar */
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.nav_element {
  color: blanchedalmond;
  text-decoration: none;
  padding: 0.7rem;
}

/* Banner */
#banner_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#banner_section > div {
  background-image: url("./keyboard.jpg");
  border: 0.7rem black solid;
  border-radius: 28px;
  height: 8rem;
  position: relative;
  top: 2.5rem;
  z-index: -1;
  flex: 1;
}
#banner_section img {
  position: relative;
  top: -4.4rem;
  width: 5.5rem;
  border: 0.7rem black solid;
  border-radius: 50%;
}
#banner_section #name {
    position: relative;
    top: -7.2rem;
    font-size: 3rem;
    color: blanchedalmond;
    text-shadow: 4.2px 3.6px 1.8px red;
}

/* Main Section */
#main_body {
    position: relative;
    color: blanchedalmond;
    top: var(--top-offset);
}
.cred_container {
    margin: 0.8rem;
    border: 0.4rem black solid;
    border-radius: 28px;
}

/* Footer */
footer {
    background-color: black;
    color: blanchedalmond;
    position: relative;
    padding: 0.2rem;
    top: var(--top-offset);
}

/* Media Queries */
@media screen and (max-width: 697px) {
    nav {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 125%;
      }
      .nav_element {
        color: blanchedalmond;
        text-decoration: none;
        padding: 0.7rem;
      }
}