/* Universal Styles */
:root {
    --top-offset: 6rem;
}
body {
    background: radial-gradient(
        circle,
        rgb(0, 255, 0) 0%,
        rgb(230, 255, 1) 35%,
        rgb(0, 4, 255) 100%
    );
    text-align: center;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Banner */
#banner_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
#banner_section > div {
    background-image: url("../images/keyboard.jpg");
    border: 0.7rem black solid;
    border-radius: 28px;
    height: 15rem;
    position: relative;
    top: 2.5rem;
    z-index: -1;
    flex: 1;
}
#banner_section img {
    position: relative;
    top: -4.4rem;
    width: 5.5rem;
    border: 0.7rem black solid;
    border-radius: 50%;
}
#banner_section #name {
    position: relative;
    top: -7.2rem;
    font-size: 3rem;
    color: blanchedalmond;
    text-shadow: 4.2px 3.6px 1.8px red;
}

/* Main Section */
#main_body {
    position: relative;
    color: blanchedalmond;
    top: var(--top-offset);
}
.cred_container {
    background-color: black;
    margin: 0.8rem;
    border: 0.4rem black solid;
    border-radius: 28px;
}

/* Footer */
footer {
    margin: 0.8rem;
    border: 0.4rem black solid;
    border-radius: 28px;
    background-color: black;
    color: blanchedalmond;
    position: relative;
    padding: 0.2rem;
    top: var(--top-offset);
}

/* Media Queries */
@media screen and (max-width: 697px) {
    nav {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 125%;
    }
    .nav_element {
        color: blanchedalmond;
        text-decoration: none;
        padding: 0.7rem;
    }
}
